.page-header{
  background: #f5f5f5;
  margin-bottom: $l-size;
  padding: $l-size 0;
};

.page-header__title{
  margin: 0;
  font-weight: 300;
  padding-bottom: $l-size;
  span {
    font-weight: bold;
  }
}