.text-input{
  border: 1px solid #cdccca;
  height: 50px;
  font-size: $m-size;
  font-weight: 300;
  padding: $s-size;
};

.select{
  @extend .text-input;
};

.text-area{
  @extend .text-input;
  height: 10rem;
}